{% if is_user_registerd == True %}
<h1>Duplicate User Found</h1>
<p>A Duplicate user has been found, user creation unsuccessful!</p>
{% else %}
<h1>User successfully Created</h1>
<p>The account for {{first_name}} {{last_name}} has been created!</p>
{% endif %}
